table {
    margin: 0%; 
    margin-bottom: 0%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table tr:nth-child(){
    background-color: #000000;
  }
  
  table tr:hover {background-color: #676565;}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #337cdbdc;
    color: white;
  }
  